<div id="header_hamberger" class="d-md-none cursor-pointer text-gray fs-sm"><i class="bi bi-list"></i></div>
<a href="" id="header_logo">LOGO</a>
<nav id="navbar" class="d-flex z-100 py-1 flex-column position-fixed start-0 bottom-0  bg-primary-app bg-md-transparent 
 top-0 end-50 transition translate-full-x  px-2  position-md-relative translateX-md-0 flex-md-grow-1">
   <div class="d-flex d-md-none justify-content-between align-items-center">
     <a href=""  id="nav_logo">LOGO</a>
     <span class="nav_close cursor-pointer fs-sm text-danger"><i class="bi bi-x"></i></span>
   </div>
    <div class="navbar_swpage d-flex flex-column bold mt-2 text-gray pt-2 gap-3 flex-md-row align-items-center pt-md-0 mt-md-0 fs-md  justify-content-between justify-content-md-center gap-md-5">
        <a href="/index.html" class="d-none d-md-block ">Trang Chủ</a>
        <a href="/src/SanPham/sanpham.html" class="d-flex gap-2"> <i class="bi bi-phone d-md-none"></i>Sản Phẩm</a>
        <a href="" class="d-flex gap-2"><i class="bi bi-info-circle d-md-none"></i>Giới Thiệu</a>
        <a href="" class="d-flex gap-2 pr-3"><i class="bi bi-telephone d-md-none"></i>Liên Hệ</a>
    </div>
</nav>
<div class="header_action d-none d-md-flex align-items-center gap-3 ">
    <div class="header_action-cart fs-md "><i class="bi bi-cart4"></i></div>
    <div class="header_action fs-md" id="username"><i class="bi bi-person"></i> Đăng Nhập</div>
</div>
<div id="overlay-placeholder" class="z-99 d-md-none"></div>