<ul class="d-flex d-md-none justify-content-between bg-primary-app py-4 fs-esm fs-mid text-black position-fixed rounded-top bottom-0 start-0 end-0 
px-3 border-top border-white text-gray bold ">
    <li class="cursor-pointer"><i class="bi px-1 bi-house "></i><a href="/index.html">Trang chủ</a></li>
    <span class="text-gray">|</span>
    <li class="cursor-pointer"><i class="bi px-1 bi-microsoft"></i><a href="/src/SanPham/sanpham.html">Danh mục</a></li>
     <span class="text-gray">|</span>
    <li class="cursor-pointer"><i class="bi px-1 bi-cart"></i><a href="">Giỏ hàng</a></li>
     <span class="text-gray">|</span>
    <li class="cursor-pointer"><i class="bi px-1 bi-person"></i><a href="">Tài khoản</a></li>
</ul>